<!doctype html>
<%
  var lang = htmlWebpackPlugin.options.lang;
  var template = {
    about:    require("./components/about/about_" + lang + ".ejs"),
    projects: require("./components/projects/projects.ejs"),
    home:     require("./components/home/home.ejs"),
    nav:      require("./components/nav/nav.ejs"),
  };
  var data = {
    meta:     require("./data/meta/meta_" + lang + ".js"),
    labels:   require("./data/labels/labels_" + lang + ".js"),
    projects: require("./data/projects/projects_" + lang + ".js"),
  };
%>
<html lang="<%= lang %>">
  <head>
    <title><%= data.meta.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:url" content="http://askd.rocks"/>
  	<meta property="og:title" content="<%= data.meta.title %>"/>
  	<meta property="og:description" content="<%= data.meta.description %>"/>
  	<meta property="og:image" content="<%= data.meta.image %>"/>
  	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic">
  	<link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/application.css" />
  </head>
  <body>
    <section class="page" id="about">
      <div class="about-wrap">
        <%= template.about() %>
        <div class="about-photo">
  				<img src="/files/photos/anna.jpg" alt="<%= data.labels.home.person.name %>">
  			</div>
      </div>
    </section>
    <section class="page" id="projects">
      <%= template.projects({ projects: data.projects, labels: data.labels.projects }) %>
    </section>
    <section class="page page_default" id="home">
      <%= template.home({ lang: lang, labels: data.labels.home }) %>
    </section>
    <%= template.nav({ labels: data.labels.nav }) %>
  </body>
</html>
