<!doctype html>
<%
  var lang = htmlWebpackPlugin.options.lang;
  var template = {
    about:  require("./components/about/about_" + lang + ".ejs"),
    links:  require("./components/links/links.ejs"),
    header: require("./components/header/header.ejs"),
  };
  var texts = require("./data/texts/texts_" + lang + ".js");
%>
<html lang="<%= lang %>">
  <head>
    <title><%= texts.meta.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:url" content="http://askd.rocks"/>
  	<meta property="og:title" content="<%= texts.meta.title %>"/>
  	<meta property="og:description" content="<%= texts.meta.description %>"/>
  	<meta property="og:image" content="<%= texts.meta.image %>"/>
  	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic">
  	<link rel="shortcut icon" href="/assets/favicon.ico">
  </head>
  <body>
    <input id="toggle" class="page-toggle" type="checkbox">
    <main class="page">
      <section class="page-section page-section_main">
        <%= template.about() %>
        <label class="links-open" for="toggle"><%= texts.links.title %></label>
      </section>
      <section class="page-section page-section_sidebar">
        <%= template.links() %>
      </section>
      <label class="page-overlay" for="toggle"></label>
    </main>
    <%= template.header({ texts: texts.meta, lang: lang }) %>
  </body>
</html>
